<%-include("partials/head")%>
<title>Record</title>
<link rel="stylesheet"  href="css/home.css">
<link rel="stylesheet"  href="css/bodyGradient.css">
</head>
<body>
    <%-include("partials/nav")%>
    <div id="community-create-details">
    <form action="/communityCreate" method="post">
        <input type="text" id="community-name" placeholder="Name" name="communityName" maxlength="21" required>
        <textarea id="community-about" name="communityDescription" placeholder="Add Description"rows="8" cols="50"></textarea>
        <div id="community-visibility-holder"></div>
    <button id="create-community-button">Create</button>
    </form>
    </div>
    <script src="js/home.js"></script>
</body>
</html>