<%-include("partials/head")%>
<title>Record</title>
<link rel="stylesheet"  href="css/signup.css">
</head>
<body>
     <a href="/"><h1 id="title">Record</h1></a>
<p id="tagline">Anything.Anywhere.</p>
<div id="signup-signin-box">
    <a href="/login"><button id="login">Login</button></a>
    <a href="/signup"><button id="signup">Signup</button></a>
    <div id="signupformdiv">
        <form id="signupform" action="/signup" method="post">
            
            <input type="email" id="emailsignup" name="email" placeholder="Email" required>
            <br>
            <br>
            <input type="text" id="usernamesignup" name="username" placeholder="Username" minlength="4" maxlength="30" required>
            <br>
            <br>
            <input type="password" id="passwordsignup" name="password" placeholder="Password" minlength="8" maxlength="12" required>
            <br>
            <div id="signupcheckboxdiv">
            <input type="checkbox"  id="signupcheckbox">
            <label for="signupcheckbox" class="checkboxlabel">Show Password</label>
            </div>
            <button id="createaccount" >Create Account</button>
            </form>
    </div>
</div>
<script src="js/register.js"></script>
</body>
</html>