<%-include("partials/head")%>
<title>Record</title>
<link rel="stylesheet"  href="/css/signup.css">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
     <a href="/"><h1 id="title">Record</h1></a>
<p id="tagline">Anything.Anywhere.</p>
<div id="signup-signin-box">
    <div id="onboard">
    <lottie-player id="success-animate" src="https://assets1.lottiefiles.com/packages/lf20_wkebwzpz.json"  background="transparent" 
    speed="1"  style="width: 250px; height: 250px;" loop autoplay></lottie-player>
    <p id="success-welcome">Welcome Onboard <%=currentUser.username%>!</p>
    <p id="please-fill-out-more">Please fill out additional details for a more secure experience!</p>
    <a href="/signup/questions"><button id="success-next" >Next</button></a>
    </div>
</div>
<script src="js/register.js"></script>
</body>
</html>
