html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height:100vh;
    background-color: #f21c42;
    background-image: linear-gradient(160deg, #f21c42 0%, #2122bf 100%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    height:20em;
    border: solid 2px black;
    border-radius:20px ;
    box-shadow: 1px 1px 5px black;
}
.imgdiv
{
    margin-top:5em;
    display: flex;
    justify-content:center;
}
#postupdown
{
    border:2px solid black;
    width:8em;
    position:relative;
    left:29em;
    margin-top:0.1em;
    height:1.4em;
    border-radius:10px;
    display: flex;
    flex-direction: row;
}
.thumbsup .material-symbols-outlined
{
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}
.thumbsup .toggleclassup
{
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.thumbsdown .material-symbols-outlined
{
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}
.thumbsdown .toggleclassdown
{
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}
#thumbsdownspan:hover
{
  cursor: pointer;
  background-color: #D3D9D9;
}
#thumbsupspan
{
    margin-left:0.4em;
   margin-right:0.3em;
   border-radius:20%;
}
#thumbsdownspan
{
    margin-left:1.5em;
    margin-right:0.3em;
    border-radius:20%;
}
h6{
    margin-top:0.3em;
}
#thumbsupspan:hover
{
  cursor: pointer;
  background-color: #D3D9D9;
}
#options
{
    
    width:2.5em;
    height:1.5em;
    position:relative;
    left:38em;
    bottom:1.5em;
    margin-top:-0.1em;
    border: 1.5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    opacity: 0.6;
    transition:width 800ms;
}
#options .material-symbols-outlined
{
    color: white;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size:30px;
    position:relative;
    bottom:0.1em;
    opacity: 0.6;
}
#options:hover{
    opacity: 1!important;
    box-shadow: 1px 1px 10px black;
}
#options .material-symbols-outlined:hover
{
    cursor:pointer;
    opacity: 1!important;
}
#login
{
    padding: 6px 24px;
    border-radius: 10px;
    height:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    position:absolute;
    left:83em;
    bottom:1.3em;
    z-index: 2;
    transition: padding 800ms;
}
#login:hover
{
    color:white;
    background:linear-gradient(45deg,rgb(245, 6, 6),rgb(24, 24, 239));
    cursor:pointer;
    padding:6px 18px;
    transition: padding 800ms,background-color 1000ms,color 600ms,box-shadow 100ms;
    box-shadow: 2px 2px 8px black;
}
#header
{
    border-bottom:1px solid black;
    display:flex;
    justify-content: centre;
    position:fixed;
    width:100%;
    padding:0;
    margin:0;
    height:12.3%;
    z-index: 1;
    background-color:black;
}
.websitenamefirstletter
{
    color:red;
}
h1{
    position:absolute;
    color: white;
    left:15.5em;
    top:0.6em;
    font-size: 2.3em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#homebuttons p{
    text-align: center;
    font-size:1.6em;
    font-weight: bold;
    margin-top:2em;
    font-family: 'Poppins', sans-serif;
    position:relative;
    right:100px;
    bottom:30px;
    transition: right 1s;
}
body
{
    background-color: #EBF2FF; 
    width: 100%;
}
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
  }
#moon
{
    width:40px;
    height: 40px;
    color:white;
    z-index: 1;
    background-color:#333333;
    border-radius: 50%;
}
#moon:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
}
#post
{
    background-color: white;
    border:2px solid black;
    width:65vh;
    height:48vh;
    position:absolute;
    left:52.5em;
    bottom:10.8em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
.thread
{
    margin-left: 53em;
    padding: 4px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg,rgb(244, 25, 25),rgb(3, 3, 67));
    color:white;
    position: relative;
    bottom:60px;
    left:0.4em;
    transition: box-shadow 100ms;
}
.thread:hover 
{
    cursor: pointer;
    box-shadow: 1px 1px 6px black ;
}
.gen
{
    margin-left:41em;
    padding: 4px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-right:2em;
    color:white;
    background-color: black ;
}
.gen:hover{
    color:black;
    background-color: white;
    cursor:pointer;
    transition: background-color 600ms,box-shadow 100ms;
    box-shadow: 2px 2px 8px black;
}
#upload
{
    padding: 4px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: black;
}
#upload:hover{
    color:black;
    background-color: white;
    cursor:pointer;
    transition: background-color 600ms,box-shadow 100ms;
    box-shadow: 2px 2px 8px black;
}
.backtop
{
    padding: 4px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: black;
    position:fixed;
    bottom:0.8em;
    right:0.5em;
    display: none;
}
.backtop:hover{
    cursor:pointer;
    box-shadow: 2px 2px 8px black;
    padding:5px 15px;
}
.allinp
{
    margin-left:27em;
    width:27em;
    padding: 5px 0;
    padding-left:0;
    position:relative;
    bottom:30px;
    border-radius: 10px;
    position: relative;
    right:27em;
    top:0.1em;
}
::placeholder
{
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:small;
}
#commall
{
    font-family: 'Poppins', sans-serif;
    width:28em;
    padding: 1em 0;
    padding-bottom: 0;
    display:flex;
   justify-content:space-evenly;
}
#addComment
{
  position: relative;
  right:2em;
  padding: 4px 12px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg,rgb(244, 25, 25),rgb(3, 3, 67));
  color:white;
  display:none;
  transition: box-shadow 100ms;
}
#addComment:hover{
  
    cursor: pointer;
    box-shadow: 1px 1px 6px black;
}
h3{
    position: relative;
    right:4em;
    top:0.8em;
}
.imgprof{
    width:25px;
    height: 25px;
    border: 2px solid black;
    border-radius:50%;
}
.butt
{
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(45deg,rgb(244, 25, 25),rgb(3, 3, 67));
    color: white;
    transition: box-shadow 100ms;
}
.butt:hover
{
    cursor: pointer;
    box-shadow: 1px 1px 6px  black ;
}
.comm
{
    width:30em;
    height:10em;
    border: 1.5px solid black;
    margin-bottom:0.5em;
    background-color:#DCE2E5;
}
.user
{
    border: 1.5px solid black;
    margin-bottom:0.25em;
    background-color:#DCE2E5;
}
.userprof{
    width:25px;
    height:25px;
    border:2px solid black;
    border-radius: 50%;
    margin-left:5px;
    margin-right:5px;
}
.comments
{
    font-family: 'Poppins', sans-serif;
    width:75ch;
    padding: 10px 0;
}
#justcomm
{
    position:absolute;
    top:57em;
    display: none;
    left:18em;
}
#indivcomm
{
    margin-bottom: 0.2em;
}
.content
{
    padding: 10px 5px;
    font-weight:lighter;
}
.usern{
    position:relative;
    bottom:5px;
    font-weight: bold;
}
.reply
{
    margin-left:15px;
    font-weight:600;
    font-size: medium;
}
.reply:hover
{
    cursor:pointer;
}
.dislikediv .material-symbols-outlined
{
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    position: relative;
    left:16em;
    top:0.3em;
    font-size:large;
}
.dislikediv .toggleclasslike
{
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    position: relative;
    left:16em;
    top:0.3em;
    font-size:large;
    color:#FE2023;
    box-shadow: 0px 0px 4px #FE2023 ;
    border-radius: 4px;
    background-color: rgb(255, 32, 35,0.3);
}
#like:hover
{
cursor:pointer;
}
.content{
    margin-bottom: 15px;
}
#box
{
   position:absolute;
   left:28em;
    display:none;
}
html{
    scroll-behavior: smooth;
}
#cancel
{
    position:relative;
    left:25px;
    padding: 4px 12px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg,rgb(244, 25, 25),rgb(3, 3, 67));
    color:white;
    position: relative;
    left:3em;
    transition:box-shadow 100ms;
}
#cancel:hover{
    cursor: pointer;
    box-shadow: 1px 1px 6px black;
}
a{
    text-decoration: none;
}

