html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a:link { text-decoration: none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: rgb(244,204,209);
    background: linear-gradient(45deg, rgba(244,204,209,1) 0%, rgba(161,203,246,1) 100%);
   font-family: 'Poppins', sans-serif;
   height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    background: -webkit-linear-gradient(45deg,rgb(245, 6, 6),rgb(24, 24, 239));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   position: relative;
   text-align: center;
   top:0.5em;
   font-size: 4.5em;
   font-weight: bold;
}

#tagline
{
    position:relative;
    text-align: center;
    top:3.5em;
    font-weight: bold;
    font-size: medium;
}
#signup-signin-box
{
width: 30em;
height: 25em;
box-shadow: 0px 0px 20px black;
position:absolute;
top:32%;
left:32%;
border-radius:1em;
background: white;
text-align: center;
}
#login
{
 padding: 0.8em 5em;
 border: 2px solid black;
 font-weight: bold;
 font-size: medium;
 background-color:black;
 border-radius: 0.4em;
 position:relative;
 color:white;
 left:1.1px;
 margin-top: 0.5em;
}
#login:hover{
    cursor:pointer;
}
#signup
{
 padding: 0.8em 5em;
 border: 2px solid black;
 font-weight: bold;
 font-size: medium;
 background-color:white;
 border-radius: 0.4em;
 position:relative;
 color:black;
 left:1.1px;
 margin-top: 0.5em;
 box-shadow: 0px 0px 5px black;
}
#signupformdiv
{
    margin-top:3em;
}
#emailsignup
{
    padding:15px 60px;
    font-weight: 500;
    font-size: medium;
    border: 0px solid black;
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px black;
}
#usernamesignup
{
    padding:15px 60px;
    font-weight: 500;
    font-size: medium;
    border: 0px solid black;
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px black;
}
#passwordsignup
{
    padding:15px 60px;
    font-weight: 500;
    font-size: medium;
    border: 0px solid black;
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px black ;
}
#signupcheckboxdiv
{
    margin-top:1em;
    position:relative;
    right:5.5em;
}
.checkboxlabel:hover
{
 cursor: pointer;
}
#createaccount
{
    margin-top: 1.2em;
    padding:3px 9px;
    font-size: medium;
    font-weight: bold;
    border-radius: 1em;
    z-index: 2;
    transition: padding 800ms;
}
#createaccount:hover{
    color:white;
    background:linear-gradient(45deg,rgb(245, 6, 6),rgb(24, 24, 239));
    cursor:pointer;
    transition: padding 800ms,background-color 1000ms,color 600ms,box-shadow 100ms;
    box-shadow: 2px 2px 8px black;
}
h1:hover{
    cursor:pointer;
}
#success-animate
{
 position: relative;
 left:7em;
 bottom:2em;
}
#success-welcome
{
    font-weight: bold;
    font-size: larger;
    position:relative;
    bottom:3em;
}
#please-fill-out-more
{
    position:relative;
    bottom:2em;
}
#success-next
{
    margin-top: 2em;
    padding:6px 18px;
    font-size: medium;
    font-weight: bold;
    border-radius: 0.4em;
    z-index: 1;
    transition: padding 800ms;
}
#success-next:hover{
    color:white;
    background:linear-gradient(45deg,rgb(245, 6, 6),rgb(24, 24, 239));
    cursor:pointer;
    transition: padding 800ms,background-color 1000ms,color 600ms,box-shadow 100ms;
    box-shadow: 2px 2px 8px black;
}
#securityquestionexplain
{
    margin-top:2em;
}
#signupquestion
{
    padding:15px 60px;
    font-weight: 500;
    font-size: medium;
    border: 0px solid black;
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px black;
}
#signupanswer
{
    padding:15px 60px;
    font-weight: 500;
    font-size: medium;
    border: 0px solid black;
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px black;
}
#signupquestionbutton
{
    margin-top: 1em;
    padding:6px 18px;
    font-size: medium;
    font-weight: bold;
    border-radius: 0.4em;
    z-index: 1;
    transition: padding 800ms;
}
#signupquestionbutton:hover{
    color:white;
    background:linear-gradient(45deg,rgb(245, 6, 6),rgb(24, 24, 239));
    cursor:pointer;
    transition: padding 800ms,background-color 1000ms,color 600ms,box-shadow 100ms;
    box-shadow: 2px 2px 8px black;
}
#questionlottie
{
  position: relative;
  left:9em;
}